<head>
    <style type="text/css">
        .lead {
            font-weight: 700;
            font-size: medium;
        }
    </style>
</head>

    @{
    ViewBag.Title = "Hospital Management System";
}

<div >
    
    <h1>Willkommen zu ihrer Krankenhaus Management Software!</h1>
    <hr />
    <br />
  
    <br />
    <hr />
    <h4>You want more access?</h4>
    <input id="LinkToLogin" type="button" value="Get it here" 
        onclick="@("window.location.href='" + @Url.Action("LoginPage", "Home") + "'");" />
</div>