@{
    ViewBag.Title = "Login";
}
<!--Autor: David Bismor -->

<h3>Für weitere Funktionalitäten, loggen Sie sich bitte ein!</h3>
    <hr />

    <table>
        <tr> 
            <td><input id="ID" type="text" /></td>
            <td rowspan="2" valign="middle" align="center">  
                <input id="GetAccewss" type="button" value="Login" />

            </td>
        </tr>
        <tr>
            <td>
                 <input id="SetPassword" type="password" />
            </td>
        </tr>
         <tr>



         </tr>
  
    </table>
