@{
    ViewBag.Title = "Login";
}

<body style="background-color: #44aec9">

<h3>Please login into your account to get further access!</h3>
    <hr />

    <table>
        <tr> 
            <td><input id="ID" type="text" /></td>
            <td rowspan="2" valign="middle" align="center">  
                <input id="GetAccewss" type="button" value="Login" />

            </td>
        </tr>
        <tr>
            <td>
                 <input id="SetPassword" type="password" />
            </td>
        </tr>
         
  
    </table>