@{
    ViewBag.Title = "Test1";
}

<body style="background-color: #44aec9">

<h3>@ViewBag.Message</h3>


    <input id="NewPerson" type="button" value="Create Person" 
        onclick="@("window.location.href='" + @Url.Action("Create", "Person") + "'");" />

